html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'assistant', Helvetica, sans-serif;

}

a {
  text-decoration: none;
  color:#040f3d;
}


  a:hover {
    color:#4bffa5;
  }

.align-center {
  text-align: center;
}

header {
  margin:0;
  padding:0 0 25px 0;
  width:100%;
}

  header .site-title{
    padding:10px;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
  }

  header nav {
    text-align: center;
  }

  header nav ul {
    padding: 0;

    display: inline-block;

  }

    header nav ul li {
      display: inline-block;
    }

    header nav ul li a {
      display: inline-block;
      padding: 10px;

      background: #4bffa5;
      border-radius: 5px;

      font-weight: 600;
      color: #040f3d;
      text-decoration: none;
    }

      header nav ul li a:hover {
        background:#040f3d;
        color: #fff;
      }

      header nav ul li a:active {
        transform: skewY(3deg);
      }

.content {
    padding: 50px;
}
  .content h1 {
    margin: 0 0 10px 0;

    font-size:2em;
    font-weight:600;
  }

  .content p {
    line-height:1.5;
  }

  .content form {

  }

  .content input[type=text], .content  input[type=password] {
    margin: 0 0 10px 0;
    padding:10px;
    font-size:1em;
  }

  .content input[type=submit] {
    display: inline-block;
    padding: 10px;

    background: #4bffa5;
    border:none;
    border-radius: 5px;

    font-size: 1em;
    font-weight: 600;
    color: #040f3d;
    text-decoration: none;

  }

    .content input[type=submit]:hover {
      background:#040f3d;
      color: #fff;
      cursor: pointer;
    }

    .content input[type=submit]:active {
      transform: skewY(3deg);
    }

.bg-grijs {
  background:#f5f5f5;
}

.hero h1 {
  font-weight: 800;
}
.hero-button {
  display: inline-block;
  margin-top:10px;
  padding: 10px;

  background: #4bffa5;
  border:none;
  border-radius: 5px;

  font-size: 1em;
  font-weight: 600;
  color: #040f3d;
  text-decoration: none;


}

  .hero-button:hover {
    background:#040f3d;
    color: #fff;
    cursor: pointer;
  }

  .hero-button:active {
      transform: skewY(3deg);
  }

  .warning {
    color: #ff0000;
  }
